@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;900&display=swap");
* {
  margin: 0;
  border: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif; }

nav {
  width: 100%;
  grid-area: nav;
  background: #d6d6d6;
  background-image: linear-gradient(to bottom, #f8f8f8, #eeeeee);
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10; }

.nav__container {
  width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.nav__presentation {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5%; }

.nav__menu {
  width: 60%; }
  .nav__menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.nav__item {
  width: 80px;
  display: inline-block;
  margin: 10px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #000000; }
  .nav__item a {
    color: #000000;
    transition: color 0.15s; }
  .nav__item a:hover {
    color: #009b81; }
  .nav__item--active a {
    color: #009b81; }

.nav__logo_image {
  width: 50px;
  height: auto; }

.nav__name h1 {
  font-size: 1.5em;
  color: #666666; }

@media screen and (max-width: 1100px) {
  .nav__container {
    width: 100vw;
    flex-direction: column; }
  .nav__presentation {
    justify-content: center;
    width: 100%; }
  .nav__menu {
    width: 90%; }
    .nav__menu ul {
      justify-content: space-between; } }

@media screen and (max-width: 768px) {
  .nav__container {
    width: 90vw;
    flex-direction: column; }
  .nav__presentation {
    justify-content: center;
    width: 100%; }
  .nav__menu {
    width: 90%; }
    .nav__menu ul {
      justify-content: space-between; } }

@media screen and (max-width: 480px) {
  nav {
    position: relative;
    flex-direction: column; }
  .nav__menu {
    width: 100%; }
    .nav__menu ul {
      flex-direction: column;
      align-items: flex-start; }
  .nav__presentation {
    justify-content: flex-start;
    width: 100%; }
  .nav__logo_image {
    width: 50px;
    height: auto; } }

.main__content_galeria {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 20px; }

.main__content_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s; }

.main__content_galeria img:hover {
  transform: scale(1.02, 1.02); }

img.big {
  grid-column: span 2;
  grid-row: span 2; }

@media screen and (max-width: 768px) {
  .main__content_galeria {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5px;
    column-gap: 5px; }
  img.big {
    grid-column: span 2;
    grid-row: span 2; } }

@media screen and (max-width: 480px) {
  .main__content_galeria {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
    column-gap: 5px; }
  img.big {
    grid-column: span 2;
    grid-row: span 1; } }

.main__content_contacto {
  width: 50%; }
  .main__content_contacto form {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .main__content_contacto input[type=text] {
    height: 35px;
    width: 100%;
    border-bottom: 2px solid #009b81;
    padding: 20px;
    outline: 0;
    font-size: 1rem;
    color: #000000;
    background: transparent;
    margin-top: 10px; }
  .main__content_contacto input[type=email] {
    height: 35px;
    width: 100%;
    border-bottom: 2px solid #009b81;
    padding: 20px;
    outline: 0;
    font-size: 1rem;
    color: #000000;
    background: transparent;
    margin-top: 10px; }
  .main__content_contacto textarea {
    width: 100%;
    border-bottom: 2px solid #009b81;
    padding: 20px;
    font-size: 1.3rem;
    margin-top: 10px;
    outline: 0;
    font-size: 1rem;
    color: #000000;
    background: transparent; }

.main__content_table_submit {
  height: 35px;
  width: 100%;
  color: #FFFFFF;
  border: 0px;
  background-color: #009b81;
  margin: 20px 0px 50px 0px; }
  .main__content_table_submit:hover {
    background-color: #39a794; }

@media screen and (max-width: 768px) {
  .main__content_contacto {
    width: 70%; } }

@media screen and (max-width: 480px) {
  .main__content_contacto {
    width: 90%; } }

.main__content_about_me {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-top: 30px; }

.main__content_image {
  width: 40%; }
  .main__content_image img {
    width: 100%; }

.main__content_aboutme {
  width: 50%;
  margin-left: 25px; }

@media screen and (max-width: 768px) {
  .main__content_about_me {
    width: 70%;
    flex-direction: column; }
  .main__content_image {
    width: 100%; }
  .main__content_aboutme {
    width: 100%;
    margin-left: 0;
    margin-top: 15px; } }

@media screen and (max-width: 480px) {
  .main__content_about_me {
    width: 90%;
    flex-direction: column; }
  .main__content_image {
    width: 100%; }
  .main__content_aboutme {
    width: 100%;
    margin-left: 0;
    margin-top: 15px; } }

.main__content_servicios {
  width: 70%;
  display: flex;
  flex-direction: column; }

.main__content_servicios_item {
  display: flex;
  flex-direction: row;
  margin-top: 2em; }

.main__content_servicios_imagen {
  width: 40%; }
  .main__content_servicios_imagen img {
    width: 90%; }

.main__content_servicios_text {
  width: 55%; }

@media screen and (max-width: 768px) {
  .main__content_servicios {
    width: 85%; } }

@media screen and (max-width: 480px) {
  .main__content_servicios {
    width: 90%; }
  .main__content_servicios_item {
    flex-direction: column;
    width: 100%; }
    .main__content_servicios_item.reverse {
      flex-direction: column-reverse; }
    .main__content_servicios_item img {
      width: 100%; }
  .main__content_servicios_imagen {
    width: 100%; }
    .main__content_servicios_imagen img {
      width: 100%; }
  .main__content_servicios_text {
    width: 100%; } }

footer {
  grid-area: footer;
  width: 100%;
  background-color: #e0e0e0;
  margin-top: 4em;
  display: flex;
  justify-content: center; }
  footer img {
    height: 20px;
    transition: all 0.3s; }

.footer__info {
  width: 75vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-right: 3em; }

.footer__redes_sociales {
  display: flex; }

.footer__redes_sociales_container {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s; }
  .footer__redes_sociales_container:hover {
    background-color: #FFFFFF; }
    .footer__redes_sociales_container:hover img {
      height: 25px; }

@media screen and (max-width: 768px) {
  .footer__info {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 3em; }
  .footer__contact_info {
    margin: 20px 0 0 0; } }

@media screen and (max-width: 480px) {
  .footer__info {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 3em; }
  .footer__redes_sociales_container {
    margin-left: 20px; }
  .footer__redes_sociales {
    margin-left: 0; }
  .footer__contact_info {
    margin: 10px 0 0 -30px; }
    .footer__contact_info li {
      margin: 10px;
      font-size: 14px; } }

a {
  text-decoration: none; }

.container {
  display: grid;
  grid-template-areas: "nav" "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 50px auto auto 200px;
  justify-items: center; }

li {
  list-style: none;
  margin: 20px; }

main {
  grid-area: main;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }

.main__image_img {
  width: 60vw;
  height: auto; }

.main__presentation {
  margin-bottom: 30px; }

.main__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.main__content_proyect {
  width: 250px;
  height: 250px;
  display: inline-block;
  border-radius: 5px;
  margin: 7.5px;
  background-repeat: no-repeat;
  background-size: 250px 250px;
  overflow: hidden;
  transition: all 0.5s;
  background-size: cover;
  object-fit: cover; }
  .main__content_proyect:hover {
    transform: scale(1.05); }

.main__content_proyect_background_1 {
  background-image: url("../images/proyects/proyect_1/background-image.jpg"); }

.main__content_proyect_background_2 {
  background-image: url("../images/proyects/proyect_2/background-image.jpg"); }

.main__content_proyect_background_3 {
  background-image: url("../images/proyects/proyect_3/background-image.jpg"); }

.main__content_proyect_background_4 {
  background-image: url("../images/proyects/proyect_4/background-image.jpg"); }

.main__content_proyect_background_5 {
  background-image: url("../images/proyects/proyect_5/background-image.jpg"); }

.main__content_proyect_background_6 {
  background-image: url("../images/proyects/proyect_6/background-image.jpg"); }

.main__content_proyect_background_7 {
  background-image: url("../images/proyects/proyect_7/background-image.jpg"); }

.main__content_proyect_background_8 {
  background-image: url("../images/proyects/proyect_8/background-image.jpg"); }

.main__content_proyect_background_9 {
  background-image: url("../images/proyects/proyect_9/background-image.jpg"); }

.main__content_proyect_background_10 {
  background-image: url("../images/proyects/proyect_10/background-image.jpg"); }

.main__content_proyect_background_secondary {
  background-color: rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 250px;
  border-radius: 5px;
  transition: all 0.5s; }
  .main__content_proyect_background_secondary:hover .main__content_proyect_text {
    padding-top: 10px; }
  .main__content_proyect_background_secondary:hover .main__content_text {
    font-size: 15px;
    font-weight: bold; }
  .main__content_proyect_background_secondary:hover .main__content_text {
    visibility: visible; }
  .main__content_proyect_background_secondary:hover .main__content_description {
    visibility: visible; }

.main__content_proyect_text {
  position: relative;
  padding-top: 200px;
  text-align: center;
  transition: all 0.5s; }
  .main__content_proyect_text p {
    margin: 10px;
    color: #FFFFFF; }

.main__content_text {
  margin-left: 10px;
  transition: all 0.5s; }

.main__content_description {
  visibility: hidden; }

@media screen and (max-width: 1100px) {
  .container {
    grid-template-rows: 100px auto auto 330px; }
  main {
    width: 100vw; } }

@media screen and (max-width: 768px) {
  .container {
    grid-template-rows: 100px auto auto 330px; }
  main {
    width: 100vw;
    margin-top: 15px; }
  .main__image_img {
    width: 100%;
    height: auto; }
  .main__content_proyect {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-size: 200px 200px; }
  .main__content_proyect_background_secondary {
    width: 200px;
    height: 200px; }
  .main__content_proyect_text {
    padding-top: 10px; }
  .main__content_description {
    visibility: visible;
    font-size: 0.8em; } }

@media screen and (max-width: 480px) {
  .container {
    grid-template-rows: 250px auto auto 300px; }
  .main__content {
    width: 90vw;
    flex-direction: column; }
  .main__content_proyect {
    width: 90vw;
    height: 150px;
    margin: 10px 0 10px;
    background-size: 150px 150px;
    font-size: 1em;
    background-size: cover;
    object-fit: cover; }
  .main__content_proyect_background_secondary {
    width: 90vw;
    height: 150px; }
  .main__content_proyect_text {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .main__content_description {
    margin-left: 10px;
    text-align: left;
    font-size: 0.9em;
    visibility: visible;
    text-overflow: ellipsis; } }
