.main__content_galeria {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 20px;
}

.main__content_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.main__content_galeria {
    img {
        &:hover {
            transform: scale(1.02,1.02);
        }
    }
    
}

img {
    &.big {
        grid-column:  span 2;
        grid-row: span 2;
    }    
}

@media screen and (max-width: 768px) {

    .main__content_galeria {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5px;
        column-gap: 5px;
    }
    
    img {
        &.big {
            grid-column:  span 2;
            grid-row: span 2;
        }
    }

}

@media screen and (max-width: 480px) {

    .main__content_galeria {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5px;
        column-gap: 5px;
    }
    
    img {
        &.big {
            grid-column:  span 2;
            grid-row: span 1;
        }
    }
    
}