nav {
    width: 100%;
    grid-area: nav;
    background:#d6d6d6;
    background-image: linear-gradient(to bottom, #f8f8f8, #eeeeee);
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav__container {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav__presentation {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    
}

.nav__menu{
    width: 60%;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.nav__item {
    width: 80px;
    display: inline-block;
    margin: 10px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: $black;

    a {
        color: $black;
        transition: color 0.15s;
    }

    a {
		&:hover {
			color: $seaWater;
		}
	}

    &--active {
        a {
            color: $seaWater;
        }

    }
}

.nav__logo_image {
    width: 50px;
    height: auto;
}

.nav__name {
    h1 {
        font-size: 1.5em;
        color: #666666;
    }
}

@media screen and (max-width: 1100px) {
    .nav__container {
        width: 100vw;
        flex-direction: column;
    }

    .nav__presentation {
        justify-content: center;
        width: 100%;
    }

    .nav__menu {
        width: 90%;

        ul {
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 768px) {

    .nav__container {
        width: 90vw;
        flex-direction: column;
    }    

    .nav__presentation {
        justify-content: center;
        width: 100%;
    }

    .nav__menu{
        width: 90%;

        ul {
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 480px) {
    
    nav {
        position: relative;
        flex-direction: column;
    }

    .nav__menu {
        width: 100%;

        ul{
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .nav__presentation {
        justify-content:flex-start;
        width: 100%;        
    }

    .nav__logo_image {
        width: 50px;
        height: auto;
    }

}