.main__content_servicios{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.main__content_servicios_item{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.main__content_servicios_imagen{
    width: 40%;

    img{
        width: 90%;
    }
}

.main__content_servicios_text{
    width: 55%;
}

@media screen and (max-width: 768px) {

    .main__content_servicios {
        width: 85%;
    }

}

@media screen and (max-width: 480px) {

    .main__content_servicios {
        width: 90%;
    }

    .main__content_servicios_item {
        flex-direction: column;
        width: 100%;

        &.reverse {
            flex-direction: column-reverse;
        }

        img {
            width: 100%;
        }
    }

    .main__content_servicios_imagen{
        width: 100%;
        
        img{
            width: 100%;
        }
    }

    .main__content_servicios_text {
        width: 100%;
    }
    
}